
    
    <div class="button-container">
        <button type="button" (click)="change()">
            <h6>change data</h6>
        </button>
        <button type="button" (click)="change3()">
            <h6>change data 2</h6>
        </button> 
    
        <button type="button" (click)="change4()">
            <h6>change data 3</h6>
        </button> 
    </div>
<!-- <div class="ay-timeline-container" id="example3.1" ></div>
    <button type="button" (click)="change3()">
        <h5>change data 2</h5>
    </button> -->
<div class="ay-timeline-container" id="example3.1" style=""></div>

